<section class="channels-s1 container-fluid bg-dark d-flex minh-50vh bg-light align-items-center py-5 border-top border-secondary">
    <div class="row mx-0 w-100 mt-5 pt-5">
        <div class="col-12 col-md-7 minh-25vh order-1 order-md-2"></div>
        <div class="col-12 col-md-5 minh-50vh order-2 order-md-1 d-flex align-items-center">
            <div class="w-100 text-center text-md-start text-shadow">
                <h5 class="text-white">
                    Sed ut perspiciatis
                </h5>
                <h2 class="dispaly-6 fw-bold text-white">
                    Unde omnis iste
                </h2>
                <p class="text-white">
                    Natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis 
                    et quasi architecto beatae vitae dicta sunt explicabo.
                </p>
            </div>
        </div>
    </div>
</section>